@import 'partials/reset';

body {
    padding: 0.5em;
    font-family: sans-serif;
}

// Partials

#header, #footer {
  text-align: center;
  margin: 1em;
}

// Main Page
.login-form {
  padding: 0.5em;
}

.post-submit-form {
  text-align: center;
    h2 {
      margin: 0.5em;
    }
    input {
      margin: 0.5em;
    }
    textarea {
      width: 60em;
      height: 40em;
      padding: 0.5em;
    }
}
