@import 'partials/reset';

body {
    padding: 0.5em;
    font-family: sans-serif;
    background-color: rgb(240,240,240);
}

// Partials

#header, #footer {
  text-align: center;
  margin: 1em;
}

// Main Page
.login-form {
  padding: 0.5em;
  line-height: 1.5em;
}

#registration-form {
  visibility: hidden;
}

#visible {
  visibility: visible;
}

//wrapper
.wrapper-box {
  background-color: rgb(250,250,250);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  text-align: center;
  margin: 13% auto auto auto;
  padding: 3em;
  border-radius: 0.5em;
  font-size: 0.8em;

  .requried-field {
    color: red;
  }

  button {
    width: 14em;
  }
  input {
    padding: 0.5em;
    width: 12em;
    height: 2em;
    font-size: 1.2em;
    color: rgb(2,184,117);

  }
  input:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(2, 184, 117, 1);
      border: 1px solid rgba(2, 184, 117, 1);
  }
}

::-webkit-input-placeholder {
  font-size: 1.2em;

}

// Main Page
.login-form {
  padding: 0.5em;
  line-height: 1.6em;
  text-align: left;
}

// User Admin Page

.post-submit-form {
  text-align: center;
    h2 {
      margin: 0.5em;
    }
    input {
      margin: 0.5em;
    }
    textarea {
      width: 60em;
      height: 40em;
      padding: 0.5em;
    }
}
