{{> header}}
    <form class="login-form" action="../../src/route/login.js" method="post">
          <input type="text" placeholder="Username"/>
          <input type="password" placeholder="Password"/>
          <input type="submit" value="Log In">
    </form>
    <form class="login-form" action="" method="post">
          <input type="text" placeholder="Username"/>
          <input type="password" placeholder="Password"/>
          <input type="submit" value="Register">
    </form>
{{> footer}}
